@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  margin-bottom: 60px;

}

.left-section {
  display: flex;
  align-items: center;
  width: 170px;
  padding-left: 7px;

  margin-right: 10px;

}

.menu-bar-icon {
  height: 25px;
  margin-left: 17px;
  margin-right: 20px;

}

.youtube-logo {
  width: 95px;

}

.middle-section {
  flex: 1;
  width: auto;
  max-width: 660px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 1;

}

.search-bar {
  flex: 1;
  height: 40px;
  padding: 0 4px 0 16px;
  font-size: 16px;
  font-weight: medium;
  border: 1px solid gray;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 100%;
  transition: width 0.3s ease;
  border-radius: 20px 0 0 20px;

}

.search-bar::placeholder {
  font-family: "Roboto", "Arial" sans-serif;
  font-size: 16px;
  min-width: 0;
}

.search-button {
  height: 42px;
  width: 60px;
  border: 1px solid gray;
  margin-left: -1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 12px;
}

.search-icon {
  height: 28px;
  padding-top: 4px;
  border-radius: 50%;
}


.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;

}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-right: 20px;
  width: 210px;
  flex-shrink: 1;
  margin-right: 10px;

}

.create-button {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: rgb(24, 22, 22);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.plus-symbol {
  font-family: 'Material Symbols Outlined';
  font-size: 25px;
  font-weight: normal;
  line-height: 1;
  padding-right: 4px;
}

.create-button:hover {
  background-color: #413f3f;
}

.notification-icon {
  height: 28px;
  width: 25px;
  margin-left: 10px;
}

.profile-icon {
  height: 36px;
  width: 36x;
  border-radius: 50%;
  margin-left: 15px;
}

@media (max-width: 660px) {

  .middle-section {
    display: flex;
    justify-content: flex-end;
  }

  .menu-bar-icon {
    margin-left: 10px;
  }

  .search-bar {
    display: none;
  }

  .search-button {
    border-radius: 50%;
    background-color: white;
    border: none;
    margin-right: -10px;
    width: 50px;
  }

  .search-button:active,
  .search-button:focus,
  .search-button:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .create-button {
    border: none !important;
  }


  .search-icon {
    width: 30px;
    background-color: white;
  }

  .right-section,
  .profile-icon {
    margin-right: 0;
  }

}