@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.header {
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  margin-bottom: 60px;

}

.left-section {
  display: flex;
  align-items: center;
  width: 170px;
  padding-left: 7px;

}

.menu-bar-icon {
  height: 25px;
  margin-left: 17px;
  margin-right: 20px;

}

.youtube-logo {
  width: 95px;

}

.middle-section {
  flex: 1;
  margin-left: 190px;
  margin-right: 100px;
  width: auto;
  max-width: 660px;
  display: flex;
  align-items: center;


}

.search-bar {
  flex: 1;
  height: 40px;
  padding: 0 4px 0 16px;
  font-size: 16px;
  font-weight: medium;
  border: 1px solid gray;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);


  width: 100%;
  max-width: 100%;
  transition: width 0.3s ease;

  /* adjust as needed */
}

.search-bar::placeholder {
  font-family: "Roboto", "Arial" sans-serif;
  font-size: 16px;
}

.search-button {
  height: 42px;
  width: 58px;
  border: 1px solid gray;
  margin-left: -1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 15px;
}

.search-icon {
  height: 28px;
  padding-top: 4px;
}


.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;

}

.right-section {

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 36px;
  flex: 0 1 auto;
}

.create-button {
  display: flex;
  align-items: center;
  padding: 5px 11px;
  background-color: rgb(52, 50, 50);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.plus-symbol {
  font-family: 'Material Symbols Outlined';
  font-size: 25px;
  font-weight: normal;
  line-height: 1;
  padding-right: 4px;
}

.create-button:hover {
  background-color: #413f3f;
}

.notification-icon {
  height: 28px;
  width: 25px;
  margin-left: 10px;
}

.profile-icon {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  margin-left: 15px;
}